@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;750&display=swap');

@font-face {
  font-family: 'Minecraft';
  src: url('https://cdn.jsdelivr.net/gh/Mojang/web-theme-bootstrap@92d9913110cf79db5813e6335f97c6dc689854ee/assets/fonts/Minecraft-Seven_v2.ttf') format('truetype');
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100svh;
  width: 100vw;
  background-color: #232c35;
  font-family: 'Inter', sans-serif;
}

.title {
  font-weight: 750;
  color: #FFF;
  font-size: min(6.8em, 18vw);
  letter-spacing: -.035em;
  text-shadow: 0 0 .2em #00000066;
  user-select: none;
  cursor: pointer;
}

.credit {
  color: #333d47;
  font-weight: 500;
  font-size: 1.4em;
  position: absolute;
  bottom: .5em;
  text-decoration: none;
}

.mainBox {
  height: 65.2svh;
  background-color: #333d47;
  width: 80.2vw;
  margin-bottom: 1.9em;
  border-radius: 1.2em;
  box-shadow: 0 0 .5em #00000088 inset;
  position: relative;
}

.buttonWrapper {
  margin: 1.8em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.3em;
}

.button {
  font-size: 2em;
  display: flex;
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  letter-spacing: -.015em;
  border-radius: .65em;
  cursor: pointer;
  user-select: none;
  transition: filter .05s;
  position: relative;
  padding: 0.85em 1.05em;
}

.whiteButton {
  color: white;
}

.blackButton {
  color: black;
}

.button:active:has(.buttonControls:not(:hover)) {
  filter: brightness(0.9);
}

.buttonName {
  transition: transform .2s;
  border-radius: .6em;
}

.button:hover .buttonName {
  transform: translate(0, -0.2em);
}

.buttonCommand {
  font-family: 'Minecraft', monospace;
  font-weight: 400;
  position: absolute;
  font-size: .45em;
  letter-spacing: .02em;
  /* center horizontally */
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(0.05em);
  background-color: #00000033;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  overflow-y: hidden;
  padding: .1em .35em .3em .35em;
  text-align: center;
  border-radius: .3em;
  opacity: 0;
  transition: bottom .2s, opacity .2s;
}

.lightCommand {
  color: #CECECE;
}

.darkCommand {
  color: #525252;
}

.button:hover .buttonCommand {
  bottom: 10%;
  opacity: 1;
}

.buttonControls {
  display: flex;
  gap: .65em;
  font-size: .65em;
  position: absolute;
  padding: .3em .4em;
  top: -.7em;
  right: -.45em;
  border-radius: .25em;
  color: #FFFFFF99;
  opacity: 0;
  transition: opacity .2s, top .2s, filter .05s;
  cursor: default;
}

.button:hover .buttonControls {
  opacity: 1;
  top: -.5em;
}

.button:active:has(.buttonControls:not(:hover)) .buttonControls {
  filter: brightness(1.1);
}

.buttonControls>* {
  transition: color .2s;
  cursor: pointer;
}

.buttonControls>:first-child:hover {
  color: #FFF;
}

.buttonControls>:last-child:hover {
  color: #ff7777;
}

.addButton {
  font-size: 4.8em;
  color: #FFFFFFB3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  font-weight: 700;
  border-radius: .2em;
  border: 0.04em solid #719cc7;
  background-color: #5781af;
  cursor: pointer;
  user-select: none;
  transition: filter .05s, color .15s;
  padding: 0 0.27em;
  vertical-align: middle;
}

.addButton:active {
  filter: brightness(0.9);
}

.addButton:hover {
  color: #FFF;
}

.addButtonPlus {
  transform: translate(0, -0.06em);
}

.zoomButtons {
  position: absolute;
  bottom: .3em;
  right: .3em;
  display: flex;
  font-size: 3em;
  font-weight: 700;
  background-color: #3a444e;
  border-radius: .3em;
  line-height: .9em;
  color: #69737e;
  overflow: hidden;
}

.zoomButton {
  padding: 0 .2em;
  padding-bottom: .14em;
  cursor: pointer;
  user-select: none;
  transition: color .2s, background-color .2s;
}

.zoomButton:hover {
  color: #FFFFFF88;
  background-color: #FFFFFF11;
}

.zoomDivider {
  height: 1em;
  width: 2px;
  background-color: #333d46;
}

/* unauthorized page */

.unauthorized, .dashboardOff {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 2.5em;
  text-align: center;
  z-index: 1;
  /* hide copied text behind */
  background-color: inherit;
  max-width: 95vw;
}

.copyCode {
  font-family: 'Minecraft', monospace;
  background-color: #00000055;
  padding: .2em;
  border-radius: .2em;
  cursor: pointer;
  transition: background-color .2s, box-shadow .2s;
}

.copyCode:hover {
  background-color: #00000077;
  box-shadow: 0 0 0.2em #00000077;
}

.copiedPopup {
  display: none;
  position: absolute;
  font-family: 'Minecraft', monospace;
  font-size: 2.3em;
  color: white;
  text-align: center;
  transition: transform .5s cubic-bezier(0, 0, 0, 1), opacity .3s;
}

/* mobile */
@media (max-aspect-ratio: 1) {
  .mainBox {
    height: 80svh;
    font-size: 2.4vw;
  }

  .credit {
    bottom: .3em;
  }
}